

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    background-color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.super-contenido {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.cabecera,
.contenido-uno,
.contenido-dos {
    max-width: 1000px;
    margin: auto; 
    background-color: white;
}


.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo {
    width: 500px; 
    height: 150px;
}

/* 
-------------------------------------

Navegación

-------------------------------------
*/

.nav-lista {
    
    padding: 8px;
    padding-left: 40px;
    padding-right: 16px;
    display: flex; 
    list-style: none;
    justify-content: flex-end;
}

.nav a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: green;
    padding: 10px 30px;

}

.nav a:hover {
    text-decoration: underline;
}

.nav-lista_form {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

/*
-----------------------------------

Zine

-----------------------------------
*/

.texto-imagen {
    display: flex;
    max-width: 1000px;
    padding: 50px;
    margin:auto;
}

.texto {
    padding:50px;
    margin: auto;
}

.imagen-zine {
    width: 350px;
    height: 475px;
    padding-bottom: 20px;
    align-items:center;
}

  /*
----------------------------------

Footer

----------------------------------
*/

.newsletter-info {
    background-image: url("mail.svg");
    background-repeat: no-repeat;
    padding:10px;
    padding-left: 50px;
  
}

.redes {
    padding:10px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}


.redes-item a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: green;
    padding: 10px 30px;
}

.redes-item a:hover {
    text-decoration: underline;
}

.pie {
    background-color: whitesmoke;
    position:relative;
    bottom: 0;
    width: 100%;
    height: 150px;
    color: green;
    font-weight: bold;
    border-top: 1px grey;
  }

.pie-superior {
    display:flex;
    justify-content: space-between;
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;

}

.pie-inferior {
    padding: 20px;
    padding-left: 50px;
}

.pie-inferior a {
    font-weight: bold;
    text-decoration: none;
    color: plum;
}

.pie-inferior a:hover {
    text-decoration: underline;
}